{% extends "zoo_app/base.html" %}

{% block app_content %}

<iframe width="560" height="315" src="https://www.youtube.com/embed/nDyu-z8q7ko" frameborder="0" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/btuxO-C2IzE" frameborder="0" allowfullscreen></iframe>
{% endblock %}

{% block app_navigation_items %}
  <li><a href="{% url 'zoo_app:home' %}">Home</a></li>
  <li><a href="{% url 'zoo_app:donate' %}">Donate</a></li>
  <li class="active"><a href="{% url 'zoo_app:video' %}">Cute Animal Videos</a></li>
{% endblock %}

{% block app_actions %}
  <a href="" class="btn btn-default">Next</a>
  <a href="" class="btn btn-default">Back</a>
{% endblock %}